<footer>
  <nav>
    <a href="https://github.com/Calaxsys" target="_blank" rel="noopener">Github</a>
    <a href="https://calaxsys.github.io/" target="_blank" rel="noopener">Github.io</a>
    <a href="https://calaxsys.github.io/web115/" target="_blank" rel="noopener">WEB115.io</a>
    <a href="https://www.freecodecamp.org/Calaxsys" target="_blank" rel="noopener">freeCodeCamp</a>
    <a href="https://www.codecademy.com/profiles/Calaxsys" target="_blank" rel="noopener">Codecademy</a>
    <a href="https://jsfiddle.net/u/Calaxsys/fiddles/" target="_blank" rel="noopener">JSFiddle</a>
    <a href="https://www.linkedin.com/in/chris-troublefield/" target="_blank" rel="noopener">LinkedIn</a>
  </nav>
  <p>Website Designed and Developed by Parker Web Design &copy; 2025 | Certified in <a href="https://www.freecodecamp.org/certification/Calaxsys/responsive-web-design" target="_blank" rel="noopener">RWD</a></p>
</footer>