<header>
  <h1>Chris Troublefield's Creative Tamarin | WEB115</h1>
  <nav>
    <a href="index.html">Home</a>
    <a href="introduction.html">Introduction</a>
    <a href="contract.html">Contract</a>
    <a href="brand.html">Brand Guide</a>
    <a href="survey.html">Survey</a>
    <a href="jads_outline.html">JADS Outline</a>
    <div class="dropdown">
      <button class="drop-btn">Fizzbuzz
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
        </svg>  
      </button>
      <div class="dropdown-content">
        <a href="fizzbuzz0.html">FizzBuzz 0</a>
        <a href="fizzbuzz1.html">FizzBuzz 1</a>
        <a href="fizzbuzz2.html">Fizzbuzz 2</a>
        <a href="fizzbuzz3.html">Fizzbuzz 3</a>
      </div>
    </div>
  </nav>
</header>