html,
body {
  height: 100%;
}

body {
  margin-inline: 4rem;
  background-color: #2D2824;
  color: #F9FAFD;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.logo {
  border: none;
  position: absolute;
  left: 2rem;
  bottom: 3rem;
}

.brand-logo {
  border: none;
}

header {
  background-color: #745204;
  position: relative;
}

header>nav {
  display: flex;
  align-items: center;
  margin-inline: auto;
  gap: 2rem;
  max-width: fit-content;
}

header>nav>a {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: .75rem 1rem;
  border-radius: .5rem;
  color: #F9FAFD;
}

header>nav>.link:hover {
  scale: 1.1;
  transition: all .45s;
  cursor: pointer;
  color: #81e524;
}

.link {
  padding: 0;
}

.link1 {
  color: transparent;
}

header>p {
  text-align: center;
}

header {
  border-bottom: 5px solid #ffbb20;
  border-radius: 15px;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 3.5rem;
}

.txt-clr-primary {
  color: #FFBB20;
}

.txt-clr-secondary {
  color: #5ff4db;
}

.txt-clr-tertiary {
  color: #81e524;
}

h3 {
  font-size: 1.75rem;
  color: #2D2824;
}

.brand-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
  margin-inline: 0;
  gap: 1rem;
}

.company-name {
  grid-column: 2 / -1;
}


.brand-card {
  display: flex;
  flex-direction: column;
  background-color: #FFBB20;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  border-radius: 1.5rem;
}

.brand-card>div:has(img) {
  margin-inline: auto;
}

.inner-card {
  background-color: #2D2824;
  border-radius: 1.5rem;
}

p {
  font-size: 1.5rem;
}

footer {
  text-align: center;
}

footer>nav {
  display: flex;
  justify-content: space-evenly;
  margin-block: 2rem;
  margin-inline: 4rem;
  flex-wrap: wrap;
}

footer>nav>a {
  font-size: 1.3rem;
  padding: .5rem;
  text-transform: uppercase;
  text-decoration: none;
}

footer>nav>a:hover {
  color: #FFBB20;
  scale: 1.1;
  transition: all .45s;
}

@media screen and (max-width: 600px) {
  body {
    text-align: center;
  }

  main>ul>li {
    list-style-type: none;
  }
}

/* Intro Form Styling */
textarea {
  resize: none;
  padding: .5rem;
  font-size: 1.2rem;
}

.intro_form_main {
  max-width: 80%;
  font-size: 1.2rem;
}

.form-flex {
  display: flex;
  gap: 1.5rem;
  margin-bottom: .5rem;
  justify-content: space-between;
}

.form-flex label {
  margin-right: 1rem;
}

.intro-form-group {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.intro-txt-group {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

input {
  font-size: 1.175rem;
  padding: .25rem;
}

.course {
  padding: .5rem;
}

.course input {
  width: 40ch;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

fieldset {
  margin-bottom: 1rem;
}

button:hover {
  cursor: pointer;
}

button[type='submit'] {
  padding-block: 2rem;
  width: 100%;
  font-size: 1.2rem;
}

.delete_course_btn {
  width: 40%;
  padding-block: 1rem;
  transition: background-color 0.4s;
}

.delete_course_btn:hover {
  background-color: #FFBB20;

}

.form_name {
  font-size: 1.75rem;
  color: #F9FAFD;
}

.form_output {
  max-width: 45rem;
}

#photo_output {
  display: flex;
  flex-direction: column;
}

#photo_output img {
  margin-inline: auto;
}