html,
body {
  height: 100%;
}

body {
  margin-inline: 4rem;
  background-color: #2D2824;
  color: #F9FAFD;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.logo {
  border: none;
  position: absolute;
  left: 6rem;
  bottom: 2rem;
}

header {
  background-color: #745204;
  position: relative;
}

header>nav {
  display: flex;
  align-items: center;
  margin-inline: auto;
  gap: 1rem;
  max-width: fit-content;
}

header>nav>a {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: .75rem 1rem;
  border-radius: .5rem;
  color: #F9FAFD;
}

header>nav>.link:hover {
  scale: 1.1;
  transition: all .45s;
  cursor: pointer;
  color: #81e524;
}


header>p {
  text-align: center;
}

header {
  border-bottom: 5px solid #ffbb20;
  border-radius: 15px;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 3.5rem;
}

.txt-clr-primary {
  color: #FFBB20;
}

.txt-clr-secondary {
  color: #5ff4db;
}

.txt-clr-tertiary {
  color: #81e524;
}

h3 {
  font-size: 1.75rem;
  color: #2D2824;
}

.brand-card {
  display: flex;
  flex-direction: column;
  background-color: #FFBB20;
  margin: 1rem;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  border-radius: 1.5rem;
}

.inner-card {
  background-color: #2D2824;
  border-radius: 1.5rem;
}

main {
  flex: 1 0 auto;
}

p {
  font-size: 1.5rem;
}

footer {
  text-align: center;
}

footer>nav {
  display: flex;
  justify-content: space-evenly;
  margin-block: 2rem;
  margin-inline: 4rem;
  flex-wrap: wrap;
}

footer>nav>a {
  font-size: 1.3rem;
  padding: .5rem;
  text-transform: uppercase;
  text-decoration: none;
}

footer>nav>a:hover {
  color: #FFBB20;
  scale: 1.1;
  transition: all .45s;
}

@media screen and (max-width: 600px) {
  body {
    text-align: center;
  }

  main>ul>li {
    list-style-type: none;
  }
}