html,
body {
  height: 100%;
}


h1 {
  margin-top: 0;
}

li::marker {
  font-size: 1.25rem;
  vertical-align: center;
}

/* JADS Schedule */
.schedule li {
  font-size: 1.2rem;
}

/* Dropdown Nav Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.drop-btn {
  background-color: #FFBB20;
  color: #222121;
  padding: 16px;
  font-size: 1.3rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 2.5rem;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #221f1c;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #F9FAFD;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #2D2824;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drop-btn {
  background-color: #ffcb51;
  cursor: pointer;
}

.intro-sub {
  color: #F9FAFD;
}

main {
  flex: 1 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  margin-inline: auto;
}

.section {
  flex: 1 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  margin-inline: auto;
}

main>img {
  object-fit: contain;
  height: 30rem;
  width: fit-content;
}

figcaption {
  text-align: center;
}

img {
  border-radius: 2rem;
  border: 5px solid black;
}

a {
  color: #5ff4db;
}

@media screen and (max-width: 1000px) {
  header>nav {
    flex-direction: column;
    align-items: center;
  }

  footer>nav {
    flex-direction: column;
    align-items: center;
  }

  footer>nav>a {
    width: 50%;
  }

  .drop-btn {
    border-radius: 0;
  }

}

#survey,
#brand_guide {
  max-width: 95%;
}